* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
}
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    padding: 10px 100px;
    justify-content: space-between;
}
nav ul {
    float: right;
    margin: 0;
    padding: 0;
    display: flex;
}
nav ul li a {
    line-height: 50px;
    color: black;
    padding: 12px 30px;
    text-decoration: none;
    font-size: medium;
}
nav ul li a:hover {
    color: #FAFF00
    }
.navbutton {
    padding: 20px;
}